<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Welcome to the Dashboard</title>
	
	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/3.0.3/normalize.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/dashboard.css">
</head>
<body>
	
	<header>
		<nav class="nav-container">
			<h2 id="title">Admin Dashboard</h2>
		</nav>
	</header>
	
	
	<main>
		<div class="widget-holder">
			<div class="widget">
				<div class="widget-title">Lets put a title here</div>
				<div class="widget-subtitle">Sub title here</div>
				<div class="widget-content">
					<input type="text">
					<input type="buttom">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptatibus, pariatur? Rem, possimus natus doloremque et aliquam laborum cumque facere aperiam perferendis nostrum iure reiciendis sunt vel quas tenetur fugiat?</p>
				</div>
			</div>
			<div class="widget">
				<div class="widget-title">Lets put a title here</div>
				<div class="widget-subtitle">Sub title here</div>
				<div class="widget-content">
					<input type="text">
					<input type="buttom">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptatibus, pariatur? Rem, possimus natus doloremque et aliquam laborum cumque facere aperiam perferendis nostrum iure reiciendis sunt vel quas tenetur fugiat?</p>
				</div>
			</div>
			<div class="widget">
				<div class="widget-title">Lets put a title here</div>
				<div class="widget-subtitle">Sub title here</div>
				<div class="widget-content">
					<input type="text">
					<input type="buttom">
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ipsa, voluptatibus, pariatur? Rem, possimus natus doloremque et aliquam laborum cumque facere aperiam perferendis nostrum iure reiciendis sunt vel quas tenetur fugiat?</p>
				</div>
			</div>
		</div>
	</main>
</body>
</html>