<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css">
	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body id="app">
	<header>
		<nav id="navbar">
			<span id="logo">CrawlerSearch</span>
			<div id="search-container">
				<input type="text" id="search" v-model="term" v-on="keyup:autoComplete, focusout:changeDisplays" placeholder="Search">
				<ul id="results" v-show="focus">
					<li v-repeat="result : results.Results | take 10" v-on="click: changeInput(this)">{{result}}</li>
					<li v-show="!results.Results">No Results Found</li>
				</ul>
			</div>
		</nav>
	</header>

	<main>
		<div id="background">
			<div id="search-meta">
				<h4>Showing Results for: <span>{{term}}</span></h4>
				<p>About 15 results shows</p>
			</div>
		</div>
		<div class="container" id="article-container">
			<div class="article" v-repeat="article : articles.data">
				<a href="{{article.source}}" class="article-title">{{article.title}}</a>
				<p class="article-meta">https://www.example.com <span class="article-date">2015-5-10</span></p>
			</div>
		</div>
	</main>



	<script type="text/javascript" src="http://cdn.jsdelivr.net/vue/0.12.8/vue.min.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>