<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>

	<link rel="stylesheet" type="text/css" href="static/css/main.css">
</head>
<body id="app">
	<h1>Hello World!</h1>

	<div>
    	<input v-model="term" v-on="keyup:autoComplete">
	</div>

	<div>
		<ul v-repeat="result : results.Results">
			<li>{{result}}</li>
		</ul>
	</div>

	<form action="/login" method="POST">
		<input type="password" name="password">
		<input type="submit" value="Submit">
	</form>

	<script type="text/javascript" src="http://cdn.jsdelivr.net/vue/0.12.8/vue.min.js"></script>
	<script type="text/javascript" src="static/js/main.js"></script>
</body>
</html>