* {
	margin: 0;
	padding: 0;
}

body {
	font-size: 18px;
	height: 100vh;
}

main {
	padding-top: 46px;
}

#navbar {
	display: flex;
	align-items: center;
	color: white;
	position: fixed;
	width: 100%;
	height: 46px;
	padding: 0px 25px;
	background-color: rgba(0, 0, 0, 0.8);
}

#search-container {
	width: 25%;
	display: inline-block;
	position: relative;
}

#logo {
	padding-right: 20px;
	font-size: 2em;
}

#search, #results {
	width: 100%;
	border-radius: 0px;
}

#search {
	height: 60%;
	margin-bottom: 0px;
}

#results {
	position: absolute;
	list-style: none;
	padding: 0;
	margin: 0;
	border: 1px solid black;
	margin-left: -1px;
	background-color: white;
}

#results li {
	color: black;
	height: 15px;
	padding-top: 0px;
	padding-bottom: 15px;
	padding-left: 10px;
	margin: 0 0;
	cursor: pointer;
}

#results li:hover {
	background-color: rgba(0, 0, 32, 0.2);
}

.selected {
	background-color: rgba(0, 0, 32, 0.2);
}

#background {
	margin-top: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #ebebeb;
}

#background h4 {
	margin-bottom: 0px;
}

#background p {
	padding-bottom: 0px;
	margin-top: 0px;
	margin-bottom: 5px;
}

#search-meta {
	margin: 0 auto;
	width: 80%;
}
/*
	Set z-index for bug that makes relative element appear WITH dropdown
*/
#article-container {
	font-size: 1.15em;
}

.article-date {
	font-size: .75em;
}